<p>logic works!</p>
<!-- The actual function of the calculator will go here, getting input from the app-root component
 .-->
 <!-- 
                To do 
  -import things that need to be imported
  -create logic that will run a loop, concatanating the numbers as they are typed, once an operator
  is pressed, parse to number and store that in a variable.  this will use a loop that continues to 
  create variables while operator buttons are pressed and once the equal button is detected, will
  perform the operations.
  -return the answer to app-root html, display block
  -would be nice to figure out how to import fonts and use a 7 segment display font.
  -->

  