<div class="calcBody"> <!-- This is the container for the calculator as the whole-->
  <h1 class="title">Calculator</h1>
  <div class="display" *ngFor="let digits of displayedDigits">{{digits}}</div>
  <div class="numpad"> <!-- This div will contain 0-9 digits, arithmetic operators, and clear btns-->
    <div class="number" id="one" (click)="setProperty($event)">1</div>
    <div class="number" id="two" (input)="setProperty($event)">2</div>
    <div class="number" id="three" (input)="setProperty($event)">3</div>
    <div class="number" id="four" (input)="setProperty($event)">4</div>
    <div class="number" id="five" (input)="setProperty($event)">5</div>
    <div class="number" id="six" (input)="setProperty($event)">6</div>
    <div class="number" id="seven" (input)="setProperty($event)">7</div>
    <div class="number" id="eight" (input)="setProperty($event)">8</div>
    <div class="number" id="nine" (input)="setProperty($event)">9</div>
    <div class="number" id="zero" (input)="setProperty($event)">0</div>
    <div class="number" id="minus" (input)="setProperty($event)">-</div>
    <div class="number" id="plus" (input)="setProperty($event)">+</div>
    <div class="number" id="multiply" (input)="setProperty($event)">x</div>
    <div class="number" id="divide" (input)="setProperty($event)">/</div>
    <div class="number" id="equals" (input)="setProperty($event)">=</div>
    <div class="number" id="clear" (input)="setProperty($event)">AC</div>




  </div>
</div>

<router-outlet></router-outlet>